<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Gallery Web App">
<meta name="author" content="Luca Del Vecchio">

<title>Silph Gallery</title>

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/main.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
	integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
	crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
	    <!-- Navigation -->
	    <div th:insert="fragments/header :: header"></div>

        <!-- Add album -->
        <div class="mt-5 p-5"><h5>Add photo</h5>
			<form action="/employeeDashboard/addPhotoAction" method="POST" th:object="${photo}">
				Name: <input type="text" th:field="*{description}">
				Url: <input type="text" th:field="*{imageUrl}">
                <select th:field="*{album.id}">
                    <option th:each="album : ${albums}" th:value="${album.id}" th:text="@{${album.name}}"></option>
				</select>
				<select th:field="*{photographer.id}">
						<option th:each="photographer: ${photographers}" th:value="${photographer.id}" th:text="@{${photographer.name} + ' ' + ${photographer.surname}}"></option>
				</select>
                <input type="submit" class="button" value="Choose photographer"> 
            </form>
		</div>
		<div class="text-danger">
			<div th:text="${stringToVisualize}"></div>
		</div>
    </div>
</body>

</html>